
//MAIN

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Nunito', Arial, sans-serif;
}

body {
   background-color: lightgray;
   // background-image: linear-gradient(to right, #c4c4c4, #d4d4d4);
}

h1 {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 20px;
  color: #595959;
}


//BUTTONS

.addButton {
  text-align: center;
  margin-bottom: 15px;
}


//UTILITY

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

.flex-3 {
  flex: 3;
}

.flex-4 {
  flex: 4;
}

.flex-5 {
  flex: 5;
}

.flex-6 {
  flex: 6;
}

.center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.mr-2 {
  margin-right: 2px;
}

.pt-10 {
    padding-top: 10px;
}

.pt-20 {
  padding-top: 20px;
}

.hr {
  border-top: solid 2px #43AA8B;
}

.bullet {
  display: list-item;
  list-style-type: disc;
  list-style-position: inside;
}

//HEADER

.horizontal-menu-wrapper {
  height: 70px;
  width: 100%;
  position: fixed;
  background-color: #43AA8B;
  // background-image: linear-gradient(to right, #43AA8B, #59cfab);
  z-index: 1;
}

.horizontal-menu img {
  color: white;
  width: 60px;
  padding-bottom: 11px;
  display: inline-block;
}

.horizontal-menu h2 {
  color: white;
  font-family: 'Nunito-Bold';
  padding-top: 20px;
  padding-left: 15px;
  font-size: 1.6em;
  display: inline-block;
}

#check {
  display: none;
}

.checkbtn {
  display: none;
}

//MENU

.wrapper{
  display: flex;
  position: relative;
  padding-top: 70px;
}

.wrapper .sidebar {
  width: 200px;
  height: 100%;
  background: #254441;
  position: fixed;
  z-index: 2;
}

.wrapper .sidebar ul li{
  padding: 15px;
  border-bottom: 1px solid #bdb8d7;
  border-bottom: 1px solid rgba(0,0,0,0.05);
  border-top: 1px solid rgba(255,255,255,0.05);
}

.wrapper .sidebar ul li a{
  color: #bccfcd;
  display: block;
  text-align: left;
  text-transform: uppercase;
  font-weight: 500;
}

.svg-inline--fa {
  margin-right: 10px;
  width: 25px;
}

.wrapper .sidebar ul li a .fas {
  width: 30px;
  padding-right: 5px;
}

.wrapper .sidebar ul li:hover {
  background-color: #335c58;
}

.wrapper .sidebar ul li:hover a {
  color: #fff;
  text-decoration: none;
}

//MAIN CONTENT AREA

.wrapper .main_content{
  width: 100%;
  margin-left: 200px;
}

.wrapper .main_content .info{
  margin: 20px;
  color: #717171;
  line-height: 25px;
}

.wrapper .main_content.login {
  text-align: center;
  margin-left: 100px;
}

//CARD - LIST RENDERING

.card-body a {
  text-decoration: none;
  color: black;
}

.card-body a:hover {
  font-weight: 500;
  color: black;
}

.card-list-container {
  padding: 10px 15px;
  display: flex;
  border: solid 2px lightgray;
  border-radius: 5px;
  margin-top: 10px;
}

.card-list-container:hover {
  background-color: #f2f2f2;
}

.client-name {
}

.client-number {
}

//Personal Trip
.trip-type {
}

.trip-date {
  text-align: right;
}

.guidetrip-type {
  text-align: right;
}

//heading
.card-heading-lg {
  color: #595959;
  margin-top: 25px;
  margin-bottom: 10px;
}

//ADD SPOT, ADD FLY, ADD SPECIES

.pattern input {
  width: 300px;
  border: none;
  border-bottom: 1px solid #d3d3d3;
  margin-bottom: 20px;
}

.pattern input:focus {
  outline: none;
  width: 300px;
  border: none;
  border-bottom: 2px solid #d3d3d3;
}

.fly-type input {
  border: 0px;
  max-width: 100%;
  height: 1em;
  margin-right: 5px;
  margin-left: 10px;
}

.fly-type label {
  margin-right: 10px;
}

.fly-type div {
  display: inline-block;
}

.button-add-fly button {
  margin-top: 10px;
  margin-right: 5px;
  margin-left: 5px;
}

//ADD TRIP

.notes-heading {
  margin-top: 0px;
}

.notes-textarea {
  margin-bottom: 15px;
}

.button-savetrip {
  margin-top: 20px;
}

//ADD CLIENT MODAL

.row {
  display: flex;
}

.modal-addclient-left {
  flex: 1;
  text-align: right;
}

.modal-addclient-right {
  flex: 3;
  padding-top: 25px;
  padding-left: 10px;
}

.modal-addclient-right input {
  color: #535353;
  border: none;
  border-bottom: 1px solid #d3d3d3;
  padding-left: 5px;
  width: 225px;
}

.modal-addclient-right input:focus {
  border: none;
  outline: none;
  border-bottom: 2px solid #d3d3d3;
}

.margin-top-10 {
  margin-top: 10px;
}

.text-area {
  margin-top: 25px;
}

//MODAL CHANGE EMAIL/PASSWORD

.modal-email-pswd-left {
  flex: 2;
  text-align: right;
}

.modal-email-pswd-right {
  flex: 3;
  padding-top: 25px;
  padding-left: 10px;
}

.modal-email-pswd-right input {
  color: #535353;
  border: none;
  border-bottom: 1px solid #d3d3d3;
  padding-left: 5px;
  width: 225px;
}

.modal-email-pswd-right input:focus {
  border: none;
  outline: none;
  border-bottom: 2px solid #d3d3d3;
}

//REPORTS

.report-heading {
  padding-top: 20px;
}

.reports-input-container {
  margin-bottom: 15px;
}

// reports - list rendering

.reports-list-container {
  display: flex;
  border-bottom: solid 1px lightgray;
  padding: 5px;
}

.reports-hotfly-left {
  color: #535353;
  margin-top: 3px;
}

.reports-hotfly-right {
  text-align: right;
}

.reports-fishcaught-left {
  color: #535353;
  margin-top: 3px;
}

.reports-fishcaught-middle {
  text-align: center;
}

.reports-fishcaught-right {
  text-align: right;
}

//VIEW TRIP

.viewtrip-heading-h4 {
  padding: 10px 0px 15px 0px;

}

.viewtrip-heading-h5 {
  padding: 0px 0px 5px 0px;
}

.viewtrip-list-container {
  padding-bottom: 20px;
}

.viewtrip-list-card {
  margin-top: 5px;
  border: solid 2px lightgray;
  color: #535353;
}

.viewtrip-list-bullet-container {
  padding-top: 10px;
}

//RESPONSIVE

@media (max-width: 768px) {

  //HORIZONTAL MENU

  .horizontal-menu h2 {
    padding-left: 0px;
  }

  .horizontal-menu {
    text-align: center;
  }

  .horizontal-menu h2 {
    margin-right: 75px;
  }

  .wrapper .main_content{
    margin-left: 0px;
  }

  .wrapper .main_content.login {
    margin-left: 0px;
  }

  .checkbtn {
    font-size: 30px;
    color: white;
    float: left;
    padding: 13px 25px;
    cursor: pointer;
    display: inherit;
  }

  //VERICAL NAV BAR

  .wrapper .sidebar {
    width: 100%;
    transition: .4s;
  }

  .wrapper .sidebar ul li a{
    padding-left: 5px;
  }



}
