
//MAIN

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Nunito', Arial, sans-serif;
}

body {
   background-color: lightgray;
}

h1 {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 20px;
  color: #595959;
}

//END MAIN

//BUTTONS

.addButton {
  text-align: center;
  margin-bottom: 15px;
}

//END BUTTONS

//UTILITY

.center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

//END UTILITY

//HEADER

.horizontal-menu-wrapper {
  height: 70px;
  width: 100%;
  position: fixed;
  background-color: #43AA8B;
  z-index: 1;
  // background-color: #9FE4D8;
}

.horizontal-menu {
  max-width: 500px;
  min-width: 300px;
  height: 70px;
  // margin-left: auto;
  // margin-right: auto;
}

.horizontal-menu img {
  color: white;
  width: 60px;
  padding-bottom: 11px;
  display: inline-block;
}

.horizontal-menu h2 {
  color: white;
  font-family: 'Nunito-Bold';
  padding-top: 20px;
  padding-left: 15px;
  font-size: 1.6em;
  display: inline-block;
}

//END HEADER

//MENU

.wrapper{
  display: flex;
  position: relative;
  padding-top: 70px;
}

.wrapper .sidebar {
  width: 200px;
  height: 100%;
  // background: #4b4276;
  background: #254441;
  position: fixed;
}

.wrapper .sidebar ul li{
  padding: 15px;
  border-bottom: 1px solid #bdb8d7;
  border-bottom: 1px solid rgba(0,0,0,0.05);
  border-top: 1px solid rgba(255,255,255,0.05);
}

.wrapper .sidebar ul li a{
  color: #bccfcd;
  display: block;
  text-align: left;
  text-transform: uppercase;
  font-weight: 500;
}

.svg-inline--fa {
  margin-right: 10px;
  width: 25px;
}

.wrapper .sidebar ul li a .fas {
  width: 30px;
  padding-right: 5px;
}

.wrapper .sidebar ul li:hover {
  background-color: #335c58;
}

.wrapper .sidebar ul li:hover a {
  color: #fff;
  text-decoration: none;
}

.wrapper .main_content{
  width: 100%;
  margin-left: 200px;
}

.wrapper .main_content .header{
  padding: 20px;
  background-color: white;
  color: black;
  border-bottom: 1px solid #e0e4e8;
}

.wrapper .main_content .info{
  margin: 20px;
  color: #717171;
  line-height: 25px;
}

//END MENU

//CARD - LIST RENDERING

.card-body a {
  text-decoration: none;
  color: black;
}
.card-body a:hover {
  font-weight: 500;
  color: black;
}

.card-list-container {
  padding: 10px 15px;
  display: flex;
  border: solid 2px lightgray;
  border-radius: 5px;
  margin-top: 10px;
  // background-color: #c0dbb6;
}

.card-list-container:hover {
  background-color: #f2f2f2;
  // border: solid 2px #43AA8B;
}

//just for My Trips - left side
.card-list-container-left {
  flex: 5;
}

.client-name {
}

.client-number {

}

//Personal Trip
.trip-type {

}

//just for My Trips - right side
.card-list-container-right {
  flex: 3;
}

.trip-date {
  text-align: right;
}

.guidetrip-type {
  text-align: right;
}

//heading
.card-heading-lg {
  color: #595959;
  margin-top: 25px;
  margin-bottom: 10px;
}

//END CARD - LIST RENDERING

//ADD SPOT, ADD FLY, ADD SPECIES

.pattern input {
  width: 300px;
  border: none;
  border-bottom: 1px solid #d3d3d3;
  margin-bottom: 20px;
}

.pattern input:focus {
  outline: none;
  width: 300px;
  border: none;
  border-bottom: 2px solid #d3d3d3;
}

.fly-type input {
  border: 0px;
  max-width: 100%;
  height: 1em;
  margin-right: 5px;
  margin-left: 10px;
}

.fly-type label {
  margin-right: 10px;
}

.fly-type div {
  display: inline-block;
}

.button-add-fly button {
  margin-top: 10px;
  margin-right: 5px;
  margin-left: 5px;
}

//ADD Trip

.notes-heading {
  margin-top: 20px;
}

.notes-textarea {
  margin-bottom: 15px;
}

.button-savetrip {
  margin-top: 20px;
}

//ADD CLIENT Modal

.row {
  display: flex;
}

.col-left {
  flex: 1;
  text-align: right;
  font-weight: bold;
}

.col-right {
  flex: 3;
  padding-top: 22px;
  padding-left: 10px;
}

.col-right input {
  border: none;
  border-bottom: 1px solid #d3d3d3;
  padding-left: 5px;
  color: gray;
}

.col-right input:focus {
  border: none;
  border-bottom: 2px solid #d3d3d3;

}
