.center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.mr-2 {
  margin-right: 2px;
}

.pt-10 {
    padding-top: 10px;
}

.pt-20 {
  padding-top: 20px;
}

.hr {
  border-top: solid 2px $primaryClr;
}

.bullet {
  display: list-item;
  list-style-type: disc;
  list-style-position: inside;
}
