
// docs ---> https://bootstrap-vue.org/docs/reference/theming

//Override bootstrap styles from bootstrap/scss/_variables.scss.
// $body-bg: red;

@import 'node_modules/bootstrap/scss/bootstrap.scss';
@import 'node_modules/bootstrap-vue/src/index.scss';

@font-face {
  font-family: 'Roboto';
  src: url(../src/fonts/Roboto/Roboto-Regular.ttf)
}

@font-face {
  font-family: 'Nunito';
  src: url(../src/fonts/Nunito/Nunito-Regular.ttf)
}

@font-face {
  font-family: 'Nunito-Bold';
  src: url(../src/fonts/Nunito/Nunito-Bold.ttf)
}


@import './sass/_sample.scss'
